{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<section class="about">
  <div class="about-content">
    <h1 data-en="About Me" data-tr="Hakkımda">About Me</h1>
    <p
      class="about-text"
      data-en="I was born in January 2003 in Küçükçekmece, Istanbul. Half of life has been spent in Istanbul and the other half in Bursa. Primary school and the first half of middle school were completed in Istanbul, while the second half of middle school and high school were finished in Bursa. I am currently back in Istanbul for my university studies. I am continuing my studies in the Computer Engineering department at Marmara University."
      data-tr="Merhaba, ben Emirhan Can. 2003 Ocak doğumluyum. İstanbul, Küçükçekmece'de dünyaya geldim. Ömrümün yarısı İstanbul'da, yarısı da Bursa'da geçti. İlkokul ve ortaokulun ilk yarısını İstanbul'da, ortaokulun diğer yarısı ve liseyi de Bursa'da okudum. Şu anda üniversite eğitimim için tekrar İstanbul'dayım. Marmara Üniversitesi, Bilgisayar Mühendisliği bölümünde öğrenimime devam ediyorum."
    >
      I was born in January 2003 in Küçükçekmece, Istanbul. Half of life has
      been spent in Istanbul and the other half in Bursa. Primary school and the
      first half of middle school were completed in Istanbul, while the second
      half of middle school and high school were finished in Bursa. I am
      currently back in Istanbul for my university studies. I am continuing my
      studies in the Computer Engineering department at Marmara University.
    </p>
    <p
      class="about-text"
      data-en="With a focus on advancing as an AI/ML Engineer, the goal is to become an exemplary engineer who touches people's lives. Progress is driven by discipline and determination, with a constant effort to gain new perspectives, create value, and contribute meaningfully to the field."
      data-tr="Kariyerime AI/ML Engineer olarak devam etmek ve bu alanlarda ilerlemek istiyorum. İnsanlara dokunan ve örnek gösterilen bir mühendis olmayı hedefliyorum. Hedeflerim doğrultusunda disiplinli ve kararlı bir şekilde ilerliyor, değer yaratmak ve yeni perspektifler kazanmak için çalışıyorum."
    >
      With a focus on advancing as an AI/ML Engineer, the goal is to become an
      exemplary engineer who touches people's lives.
      Progress is driven by discipline and determination, with a constant effort
      to gain new perspectives, create value, and contribute meaningfully to the field.
    </p>
  </div>
</section>
{% endblock %}
