{% extends "base.html" %}
{% block title %}Hobbies{% endblock %}

{% block content %}
<section class="page">
    <h1>Hobbies</h1>

    <div class="card-grid">

        <div class="card hobby-card">
            <h3>Gaming</h3>
            <p>
                I enjoy strategy, platformer, and puzzle games.
            </p>
        </div>

        <div class="card hobby-card">
            <h3>Learning Systems</h3>
            <p>
                I like understanding how things work at a low level.
            </p>
        </div>

        <div class="card hobby-card">
            <h3>Building Projects</h3>
            <p>
                Turning ideas into working software motivates me.
            </p>
        </div>

    </div>
</section>
{% endblock %}
