{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<section class="hero">
  <div class="hero-text">
    <h1 data-tr="Emirhan Can" data-en="Emirhan Can">Emirhan Can</h1>

    <p
      data-tr="Bilgisayar Mühendisliği Öğrencisi"
      data-en="Computer Engineering Student"
    >
      Computer Engineering Student
    </p>
  </div>

  <div class="hero-images">
    <div class="hero-image">
      <img
        src="{{ url_for('static', filename='images/photo2.jpg') }}"
        alt="Emirhan profile photo"
        class="hero-photo"
      />
    </div>
    <div class="hero-image">
      <img
        src="{{ url_for('static', filename='images/photo.jpg') }}"
        alt="Emirhan second profile photo"
        class="hero-photo"
      />
    </div>
  </div>
</section>
{% endblock %}
