{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}
<section class="page">
    <h1>Projects</h1>

    <div class="card-grid">

        <div class="card">
            <h3>AI Pattern Detection</h3>
            <p>
                YOLOv8-based system for detecting chart patterns in crypto markets.
            </p>
            <span class="tech">Python · YOLOv8 · OpenCV</span>
        </div>

        <div class="card">
            <h3>AI Airport Navigation</h3>
            <p>
                GenAI-powered indoor navigation system for large airports.
            </p>
            <span class="tech">Python · OpenAI · Graphs</span>
        </div>

        <div class="card">
            <h3>Streamlit Cloud App</h3>
            <p>
                Deployed Streamlit application using Docker and AWS.
            </p>
            <span class="tech">Streamlit · Docker · AWS</span>
        </div>


        
    </div>




    
</section>
{% endblock %}
